# This is the config file to configure the http server 
# I have given the following 
#   name : value
#   # at the start of the line are considered as comments

# port no
portNo : 12000

# root directory
documentRoot : /home/ron/RON/Sem 5/CN/HTTP-Server-

# root user info
userName : 111803055

passWord : 87658765

# max number of connections at a time
maxNoOfConnections : 10
 